.logo{
    width: 70px;
    height: 70px;
}

.ion-card{
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
    background-color: orangered;
    p{
        color: black;
    }
}

.sl{
    margin-bottom: 14px;
}
ion-slides {
    --bullet-background: red;
    --bullet-background-active: rebeccapurple;
}
.toolbar{
    --color: white;
    --background: linear-gradient(90deg, #7590d6 0%, #4d71d7 100%);
    text-align: center;
    h2{
        color: white;
        font-weight: 300px;
      }
      p{
        font-size: 12px;
        font-weight: 100;
        color: #e4e4e4;
        letter-spacing: 0.4px;
      }
    
}
