<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/accueil" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="onClick()">
          <ion-card-header>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-text-center ion-margin-bottom ">Awesome Title</ion-card-title>
            <ion-card-subtitle class="ion-text-right">10/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.5  "></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-text-center ion-margin-bottom ">Awesome Title</ion-card-title>
            <ion-card-subtitle class="ion-text-right">10/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.5  "></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-card-subtitle>Automoblie</ion-card-subtitle>
      <ion-card-title>SenParking</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Avec une experience de plus de 10 ans , met a la disposition de sa clientéle 
        un parc auntomobile de 50 bus de 15 a 65 places et plus de <strong>200 vehicules</strong> de differentes categories 
        a sovoir Berline, 4x4 Pick Up ect. 
      </p>
      <p>
        Pour vos seminaires, conferences et reunions internationales, notre  en matiere de transportvous sera d'un  apport 
        considerable pour gerer les deplacements de vos hotes dans le confort et la securité.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>