<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>presentation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let voiture of voitures" >
    <ion-card-header>
      <ion-card-title>{{voiture.libelle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="voiture.url" (click)="viewImage(voiture)">Image</ion-img>
    </ion-card-content>
  </ion-card>
  <ion-button class="action-button" (click)="reserve()">
    <ion-icon slot="start" name="cart"></ion-icon>Ajouter
  </ion-button>
</ion-content>
