<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>presentation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="add()">Ajouter</ion-button>
  <ion-card *ngFor="let voiture of voitures" >
    <ion-card-header>
      <ion-card-title>{{voiture.libelle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="voiture.url">Image</ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
