.res{
    // text-align: center;
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
    color: #e4e4e4;
    background-color: rgb(64, 105, 241);
}
.title{
    text-align: center;
    color: rgb(38, 38, 255);
    font-weight: 300px;
    text-decoration: underline;
}
.service{
    background-color: rgb(64, 105, 241);
    height: 200px;
    width: 100%;
    padding-top: 2px;
    padding-left: 15px;
    padding-bottom: 2;
    padding-right: 14px;
    margin-bottom: 10px;
    // color: rgb(253, 254, 255);
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    color: #e4e4e4;
    letter-spacing: 0.4px;
}